div.gallery.clearfix
	div.gallery-wrapper-img
		a(href="./images/example/big_img.png" rel="fancybox-gallery").gallery-wrapper-link.js-fancybox
			img.js-product-image(src='./images/example/big_img.png', alt='')
	div.gallery-previews
		ul.gallery-list.list-unstyled.js-item-gallery
			li.gallery-list-item
				a.gallery-item-link(href='./images/example/big_img.png',
				target='_blank', data-switch-image='.js-product-image')
					img.gallery-item-image(src='./images/example/big_img.png', alt='')


			li.gallery-list-item
				a.gallery-item-link(href='./images/example/action2.png', target='_blank',
				data-switch-image='.js-product-image' rel="fancybox-gallery")
					img.gallery-item-image(src='./images/example/action2.png', alt='')


			li.gallery-list-item
				a.gallery-item-link(href='./images/example/slide3.jpg',
				target='_blank', data-switch-image='.js-product-image')
					img.gallery-item-image(src='./images/example/slide3.jpg', alt='')
			li.gallery-list-item
				a.gallery-item-link(href='./images/example/slide2.jpg',
				target='_blank', data-switch-image='.js-product-image')
					img.gallery-item-image(src='./images/example/slide2.jpg', alt='')
			li.gallery-list-item
				a.gallery-item-link(href='./images/example/about1.png',
				target='_blank', data-switch-image='.js-product-image')
					img.gallery-item-image(src='./images/example/about1.png', alt='')
			li.gallery-list-item
				a.gallery-item-link(href='./images/example/about2.png',
				target='_blank', data-switch-image='.js-product-image')
					img.gallery-item-image(src='./images/example/about2.png', alt='')
