extends layouts/_default
block vars
	-var currentPageTitle = "Способы оплаты"
block title
	title=currentPageTitle
block block-content
	+breadcrumbsSimple(['Помощь', currentPageTitle])
	h1=currentPageTitle


	-var payments = []
	-payments[0] = {}
	-payments[0].title = 'Оплата наличными'
	-payments[0].desc = 'Самый привычный способ оплаты такси – это передача наличных средств водителю по факту совершения поездки. Оплата наличными возможна при оформлении <a href="#">заказа любым удобным</a> для Вас образом: через оператора по телефону, онлайн-форму на сайте, SMS и др. Если у водителя не окажется сдачи, он разменяет деньги самостоятельно.'

	-payments[1] = {}
	-payments[1].title = 'Оплата по карте курьеру'
	-payments[1].desc = 'Нет наличных, а ближайший банкомат находится в трёх кварталах? Вы можете оплатить поездку на такси по банковской карте прямо в автомобиле! В каждой машине «ТаксовичкоФ» находится маленький банковский терминал для приёма пластиковых карт, который позволяет пассажирам обходиться и вовсе без банкнот.'

	-payments[2] = {}
	-payments[2].title = 'Онлайн-оплата'
	-payments[2].desc = 'Онлайн-оплата на сайте «ТаксовичкоФ» позволяет производить расчёт через платёжную систему «ROBOKASSA». Терминалы оплаты, электронные деньги, банковская карта, сотовый оператор, кассы салонов связи – здесь доступно огромное количество удалённых способов оплаты такси – выберите для себя наиболее подходящий.'

	div.list-payments
		-each item, index in payments
			div.list-payments-item.clearfix
				div.list-payments-img
					img(src="images/payments/#{index+1}.png" alt="")
				div.list-payments-desc
					div.list-payments-title!=item.title
					p!=item.desc

block block-content-100
	div.light-bg-text
		div.container
			h2 Бронирование позиций
			p Самый привычный способ оплаты такси – это передача наличных средств водителю по факту совершения поездки. Оплата
				|наличными возможна при оформлении заказа любым удобным для Вас образом: через оператора по телефону,
				|онлайн-форму на сайте, SMS и др. Если у водителя не окажется сдачи, он разменяет деньги самостоятельно.Онлайн-оплата на сайте «ТаксовичкоФ» позволяет производить расчёт через платёжную систему «ROBOKASSA». Терминалы оплаты, электронные деньги, банковская карта, сотовый оператор, кассы салонов связи – здесь доступно огромное количество удалённых способов оплаты такси – выберите для себя наиболее подходящий.


			p Онлайн-оплата на сайте «ТаксовичкоФ» позволяет производить расчёт через платёжную систему «ROBOKASSA». Терминалы оплаты, электронные деньги, банковская карта, сотовый оператор, кассы салонов связи – здесь доступно огромное количество удалённых способов оплаты такси – выберите для себя наиболее подходящий.

